{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "semi": ["error", "always"],
    "curly": ["error", "multi-line"],
    "comma-dangle": ["error", "always-multiline"],
    "no-multi-spaces": ["off"]
  }
}
